.containerDivHome {
    text-align: center;

}

.firtsDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
}

.firtsDiv p {
    width: 50%;
}

.secondDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondDiv p {
    width: 80%;
}
